@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Desktop ===== */
/* Navbar */
.navbar {
  padding: 20px 0;
}
.navbar-logo {
  width: auto;
  height: 65px;
}
/* .navbar-links {
  padding: 10px 32px;
} */
.navbar-links:hover {
  transition: 0.2s;
  cursor: pointer;
  color: #f5ea07;
}
.navlink .shop-cta {
  border-radius: 32px;
  padding: 10px 32px;
}
.navlink .shop-cta:hover {
  color: black;
}

.content {
  height: 100vh;
}

.title {
  font-family: "Poppins", sans-serif;
}

.sub-title,
.button {
  font-family: "Ibarra Real Nova", serif;
}

.button {
  font-size: 22px;
  padding: 10px 32px;
  width: auto;
  height: 52px;
  border-radius: 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.whatsapp-cta {
  width: auto;
}

/* ===== Phone ===== */
@media screen and (max-width: 1023px) {
  .navbar .logoImg {
    width: 250px;
  }

  .words,
  .buttons {
    padding: 0 16px;
  }
  .title {
    font-size: 36px;
  }
  .sub-title {
    font-size: 24px;
  }

  .button {
    font-size: 18px;
    padding: 8px 24px;
  }
}

/* ===== Tablet ===== */
/* @media screen and (min-width: 701px) and (max-width: 1023px) {
} */
