/* ===== Desktop ===== */

/* Second section */
.product-overview {
  /* height: 750px; */
  width: 350px;
  height: auto;
}
.second-wrapper .second-wrapper-words .title {
  color: black;
}
.second-wrapper .second-right .title {
  color: black;
}
.doodles-love {
  position: absolute;
  right: 0;
  bottom: 0.5;
  z-index: 1;
}

/* Third section */
.doodles-hijab {
  position: absolute;
  right: 0;
  z-index: 1;
}

.third-wrapper .title {
  color: black;
}
