/* ===== Desktop ===== */
/* First section */

/* Second section */
.product-overview {
  height: 100%;
  width: auto;
}
.doodles-love {
  position: absolute;
  right: 0;
  bottom: 0.5;
  z-index: 1;
}

/* Third section */
.doodles-hijab {
  position: absolute;
  right: 0;
  /* top: 0; */
  z-index: 1;
}
.about-box {
  height: 250px;
  max-width: 250px;
  font-family: "Ibarra Real Nova", serif;
  padding: 22px;
  border-radius: 25px;
}

/* Fourth section */
.fourth-wrapper {
  height: 80vh;
}

/* ===== Phone ===== */
@media screen and (max-width: 500px) {
  /* First section */
  .hero-wrapper {
    padding: 20px 30px;
  }
  /* Second section */
  .second-wrapper {
    flex-direction: column-reverse;
    height: auto;
    padding-right: 0;
  }
  .product-overview {
    height: auto;
  }
  .second-right {
    margin-left: 20px;
    gap: 28px;
    padding: 28px 0;
  }
  /* Third section */
  .third-wrapper {
    height: auto;
    padding: 30px;
  }
  .about-elements {
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
  }
  .about-box {
    height: auto;
  }
  /* Fourth section */
  .fourth-wrapper {
    height: auto;
    padding: 30px;
    gap: 28px;
  }
}

/* ===== Tablet ===== */
@media screen and (min-width: 501px) and (max-width: 1025px) {
  body {
    overflow-x: hidden;
  }
  /* First section */
  .hero-wrapper {
    padding: 30px;
  }
  /* Second section */
  .second-wrapper {
    flex-direction: column-reverse;
    height: auto;
    padding-right: 0;
  }
  .product-overview {
    height: auto;
  }
  .second-right {
    margin-left: 20px;
    width: 100%;
    gap: 28px;
    padding: 30px;
  }

  /* Third section */
  .third-wrapper {
    height: auto;
    padding: 30px;
  }
  .about-elements {
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
  }
  .about-box {
    height: auto;
  }
  /* Fourth section */
  .fourth-wrapper {
    height: 50vh;
    padding: 30px;
    gap: 28px;
  }
}
